# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Codeblocks project files
*.layout
*.depend

# Executables
*.exe
*.out
*.app
programmazione/stringhe/crea_indirizzi/bin/Debug/elenco.csv
programmazione/stringhe/crea_indirizzi/elenco.csv
programmazione/stringhe/crea_indirizzi/elenco_email.txt
programmazione/stringhe/crea_indirizzi_con_email/elenco_con_date.csv
programmazione/stringhe/crea_indirizzi_con_email/elenco_email.txt
